<h2> Проверка </h2>
<div class="main">
  <h2> Пример </h2>
  <input type="text" placeholder="дд.мм.гггг" inputMask [inputMaskPreset]="preset"/>

  <h2> Дата до сегодня </h2>
  <input type="text" placeholder="дд.мм.гггг" inputMask [inputMaskPreset]="presetToday"/>

  <form [formGroup]="form">
    <h2>Тайм едит</h2>
    <input formControlName="time" inputMask [inputMaskPreset]="presetTime">

    <br><br>
    <ka-input type="number" formControlName="number" max="9999"></ka-input>
    <button (click)="setNumber()"> Set number </button>
    <button (click)="resetNumber()"> Reset number </button>
  </form>
</div>
